#
# HTML SNIPPETS
#
'.html':
  'Meteor Template':
    "prefix": "mtp"
    "body": """
      <template name="${1:name}">
        ${2}
      </template>
    """,
  'Meteor each':
    "prefix": "mea"
    "body": """
      {{#each ${1:collections}}}
        ${2}
      {{/each}}
    """,
  'Meteor if':
    "prefix": "mif"
    "body": """
      {{#if ${1:statement}}}
        ${2}
      {{/if}}
    """,
  'Meteor if else':
    "prefix": "mife"
    "body": """
      {{#if ${1:statement}}}
        ${2}
      {{else}}
        ${3}
      {{/if}}
    """
#
# JADE SNIPPETS
#
'.jade':
  'Meteor Template':
    "prefix": "mtp"
    "body": """
      template(name='${1:name}')>
        ${2}
    """,
  'Meteor each':
    "prefix": "mea"
    "body": """
      each ${1:collections}
        ${2}
    """,
  'Meteor if':
    "prefix": "mif"
    "body": """
      if ${1:statement}
        ${2}
    """,
  'Meteor if else':
    "prefix": "mife"
    "body": """
      if ${1:statement}
        ${2}
      else
        ${3}
    """
#
# JS SNIPPETS
#
'.js':
  #
  # COLLECTION SNIPPETS
  #
  'Collection Allow':
    "prefix":"cola"
    "body": """
      ${1:Collection}.allow({
        insert: function (userId, doc) {
          // the user must be logged in, and the document must be owned by the user
          return (userId && doc.owner === userId);
        },
        update: function (userId, doc, fields, modifier) {
          // can only change your own documents
          return doc.owner === userId;
        },
        remove: function (userId, doc) {
          // can only remove your own documents
          return doc.owner === userId;
        },
        fetch: ['owner']
      });
    """,
  'Collection Deny':
    "prefix":"colde"
    "body": """
      ${1:Collection}.deny({
        update: function (userId, docs, fields, modifier) {
          // can't change owners
          return _.contains(fields, 'owner');
        },
        remove: function (userId, doc) {
          // can't remove locked documents
          return doc.locked;
        },
        fetch: ['locked'] // no need to fetch 'owner'
      });
    """,
  'Meteor Collection':
    "prefix": "mcol"
    "body": """
      ${1:Collection} = new Meteor.Collection("${2:collection}");
    """,
  'Meteor Publish':
    "prefix": "mpub"
    "body": """
      Meteor.publish("${1:name}", function(${2:argument}){
        ${3}
      });
    """,
  'Meteor Subscribe':
    "prefix": "msub"
    "body": """
      Meteor.subscribe("${1:name}", ${2:argument});
    """,
  'Meteor Methods':
    'prefix': 'mmeth'
    'body': """
      Meteor.methods({
        "${1:name}": function (${2:argument}) {
          ${3}
        }
      });
    """,
  #
  # JS TEMPLATE SNIPPETS
  #
  'Template Rendered':
    "prefix": "mren"
    "body": """
      Template.${1:name}.onRendered(function(){
        ${2}
      });
    """,
  'Template Helpers':
    "prefix": "mhel"
    "body": """
      Template.${1:name}.helpers({
        ${2:helper}: function(){
          ${3}
        }
      });
    """,
  'Template Events':
    "prefix": "mevn"
    "body": """
      Template.${1:name}.events({
        "${2:event}": function(e, t){
          ${3}
        }
      });
    """,
  'Template Created':
    "prefix": "mcre"
    "body": """
      Template.${1:name}.onCreated(function(){
        ${2}
      });
    """,
  'Template Destroyed':
    "prefix": "mdes"
    "body": """
      Template.${1:name}.onDestroyed(function(){
        ${2}
      });
    """
'.coffee':
  'Meteor Publish':
    "prefix": "mpub"
    "body": """
      Meteor.publish "${1:name}", (${2:argument}) ->
        ${3}
    """,
  'Meteor Subscribe':
    "prefix": "msub"
    "body": """
      Meteor.subscribe "${1:name}", ${2:argument}
    """,
  'Meteor Methods':
    'prefix': 'mmeth'
    'body': """
      Meteor.methods
        "${1:name}": (${2:argument}) ->
          ${3}
    """,
  'Template Rendered':
    "prefix": "mren"
    "body": """
      Template.${1:name}.onRendered ->
        ${2}
    """,
  'Template Helpers':
    "prefix": "mhel"
    "body": """
      Template.${1:name}.helpers
        ${2:helper}: ->
          ${3}
    """,
  'Template Events':
    "prefix": "mevn"
    "body": """
      Template.${1:name}.events
        "${2:event}": (e, t) ->
          ${3}
    """,
  'Template Created':
    "prefix": "mcre"
    "body": """
      Template.${1:name}.onCreated ->
        ${2}
    """,
  'Template Destroyed':
    "prefix": "mdes"
    "body": """
      Template.${1:name}.onDestroyed ->
        ${2}
    """
